{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'connect/styles/style3.css' %}">

    {% if title %}
        <title>Alcheringa Connect- {{ title }}</title>
    {% else %}
        <title>Alcheringa Connect</title>
    {% endif %}
</head>

<body>

    <div class="row">

        <div class="col-12 col-lg-7" id="left">
            <img src="{%static 'connect\images\logi.jpg' %}" alt="image" srcset="" style="width: 10rem; ">
            <p class="text-secondary"
                style=" display: inline-block; font-size: 5.5rem; margin-left: 2rem; margin-right: 1rem;  ">Alcheringa
                <span style="font-size: 5.5rem; color: rgb(237, 105, 61);">Connect</span>
            </p>
            <div style="font-size: 5.5rem; margin-top: 6rem;">
                Create a new post
            </div>

            <div class="card"
                style="height: 80rem; margin: 6rem auto; width: 87rem; border-radius: 4rem; padding: 3rem 7rem 0rem 7rem; box-shadow: .5rem .5rem 1.5rem rgb(114, 111, 111);">
                <div style="font-size: 3rem;">
                    Image
                </div>
                <div
                    style=" display: flex;
                    justify-content: center;
                    align-items: center; border-radius: 2rem;   border-style: groove; margin-top: 4rem; height: 36rem; font-size: 5rem; color: grey;">
                    Upload an image
                </div>
                <div style="font-size: 3rem; margin-top: 2rem;">
                    Caption
                </div>
                <div
                    style="border-radius: 2rem;  border-style: groove; margin-top: 2rem; height: 8rem;  font-size: 2.5rem; padding-left: 2rem; padding-top: 1.5rem; color: grey;">
                    Give an image caption
                </div>
                <p style="font-size: 3rem; margin-top: 2rem;">Current Location</p>
                <b>
                    <p id="location" style="font-size: 3rem; cursor: pointer;">Give Location Permissions</p>
                </b>

            </div>

            <div onclick="location.href=`{% url 'connect-posts' %}`;"
                style="height: 10rem; margin: 5rem auto; width: 87rem; border-radius: 2rem; border-style: groove; border-color: rgb(237, 105, 61); display: flex; justify-content: center; align-items: center; color: rgb(237, 105, 61); font-size: 4rem; cursor: pointer;">
                Share
            </div>


        </div>





        <div class="col-5" id="right">
            <div class="card" id="c2">
                <div class="container-fluid  " id="d1">
                    <div class="row" style="margin-bottom: 5rem;">
                        <div class="col-8 text-light " style="margin-top: 11rem; font-size: 5rem; margin-left: 1rem;">
                            My Profile
                        </div>
                        <div class="col-3">
                            <img src="{%static 'connect\images\exit.png' %}" alt="Exit" srcset=""
                                style="height: 9rem; margin-top: 10rem; margin-left: 7rem;">
                        </div>
                    </div>

                </div>
                <div class="card-body" style="margin: 5rem 2.5rem auto 2.5rem;">
                    <div id="name" style="height: 12rem;">
                        <div class="row">
                            <div class="col-3">
                                <img src="{%static 'connect\images\OIP.jfif' %}" alt="logo" srcset="" style="border-radius: 50%;" height="45rem">
                            </div>
                            <div class="col-9">
                                <div class="text-secondary " style=" font-size: 2rem;">username</div>
                                <div style="font-size: 2.5rem;"><b>anoop7384</b></div>
                            </div>
                        </div>
                    </div>
                    <div id="desc" style="font-size: 2.5rem
                      ;">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. A nemo facilis numquam minus
                        exercitationem aliquam repellendus ducimus corrupti?
                    </div>
                    <div style="margin-top: 5rem;">
                        <img src="{%static 'connect\images\images.jpg' %}" alt="" srcset="" style="height: 4rem;">
                        <p style="display:inline-block ; margin-left: 2rem; font-size: 3rem;">My posts</p>
                    </div>
                    <div style="margin-top: 2rem;">
                        <img src="{%static 'connect\images\images.png' %}" alt="" srcset="" style="height: 4rem;">
                        <p style="display:inline-block ; font-size: 3rem; margin-left: 2rem;">Saved posts</p>
                    </div>

                </div>
            </div>
            <div class="container-fluid  " id="create">
                <div style="margin-left: 2rem;">
                    <img src="{%static 'connect\images\images.jpg' %}" alt="" srcset="" style="height: 4rem;">
                    <p style="display:inline-block ;margin-left: 2rem; font-size: 3rem ;">Create a new post</p>
                </div>
            </div>
        </div>

    </div>




    <script src="{% static 'connect/scripts/create.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>