{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'connect/styles/style1.css' %}">

    {% if title %}
        <title>Alcheringa Connect- {{ title }}</title>
    {% else %}
        <title>Alcheringa Connect</title>
    {% endif %}
</head>
<body>
    
    <div class="container-fluid " id="box">
        <div class="row" id="cont" >
          <div class=" col-12 col-md-6 "  id="leftcol">
            <div style="max-width: 85rem; margin: 0 auto;">
              <img src="{%static 'connect/images/logi.jpg' %}" alt="image" srcset="" style="width: 10rem; ">
                <p class="text-secondary" style=" display: inline-block; font-size: 7rem; margin-left: 2rem; margin-right: 1rem;  ">Alcheringa
                <span  style="font-size: 7rem; color: rgb(237, 105, 61);">
                    Connect
                </span></p>
              <p class="text-secondary" style="margin-top: 40px; font-size: 5rem;">
                Alcheringa connect lets you associate with the people in your life
              </p>
            </div>
            
              





          </div>
          <div class="col-6 mt-5" id="rightcol">

            <div class="p1 ">
                <p style="font-size: 6rem;">Login</p>
                <div class="row" id="a1" >
                  <div class="col-8 ">Don't have an account?</div>
                  <div class="col-4 "><u>Register Here</u></div>
                </div>
            </div>
            <div class="p2">
              <form class="text-secondary">
                <div class="form-group " style="margin-top: 7.5rem;">
                  <label for="exampleInputEmail1">Username</label>
                  <input type="email" class="form-control " style="height: 4.5rem; margin-top: 2rem" id="exampleInputEmail1" aria-describedby="emailHelp" >
                  
                </div>
                <div class="form-group  "style="margin-top: 4rem;>
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control " style="height: 4.5rem; margin-top: 2rem" id="exampleInputPassword1" >
                </div>
                <div class="form-check mt-4" style="font-size: 2.5rem;">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                </div>
                 
                  <button type="submit" id="submit" class="btn btn-lg btn-outline-warning " >
                    <a href="{% url 'connect-profile' %}" style="text-decoration: none; color: orange;">
                      Login
                    </a>
                    
                  </button>
                 
                  
                
                
              </form>
            </div>



            

            
            
          </div>
        </div>
        
    </div>
    <script>
      const d=document.getElementById('submit');
      
      d.addEventListener('click', (event)=>{
        event.preventDefault(); 
        window.location.href="{% url 'connect-profile' %}";
      })
    </script>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>