{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    {% if title %}
    <title>Alcheringa Connect- {{ title }}</title>
    {% else %}
    <title>Alcheringa Connect</title>
    {% endif %}
    <style>
        #id_image {
            padding-left: 5rem;
            padding-top: 4rem;
        }

        #id_constent {
            box-shadow: 2rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            width: 100%;
            height: 5rem;
            background-color: rgb(255 237 213);
            border-radius: 0.3rem;
            padding-left: 0.5rem;
            font-size: large;
        }

        #imgUP {
            cursor: pointer;
            text-align: center;
            justify-content: center;
            border: 1px solid lightgray;
            border-radius: 1rem;

            margin-top: 1rem;
            font-size: 2rem;
            color: grey;
        }
    </style>

</head>

<body>
    <div class="grid grid-cols-12 mt-4">
        <div class="md:col-span-7 col-span-12  ">
            <div class="grid grid-cols-12 flex items-center">
                <div class="col-span-3 flex justify-end">
                    <img src="{%static 'connect\images\logi.jpg' %}" class="h-20" alt="" srcset="" class="">
                </div>
                <div class="col-span-9 text-5xl pl-3 text-gray-600">
                    Alcheringa <span class="text-orange-500">Connect</span>
                </div>
            </div>
            <div class="mx-48 text-4xl mt-12">
                Create a new post
            </div>
            <div class="mx-48 px-12">

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card shadow-lg rounded-3xl border border-black px-8 py-4 mt-8">
                        <div class="text-2xl">
                            Image
                        </div>
                        <label for="input" class="">
                            <!-- <div id="display-text">Upload an image</div> -->
                            <div class="h-48 bg-orange-100 text-lg" id="imgUP">{{ form.image }}</div>

                        </label>
                        <div class="text-2xl mt-4">
                            Caption
                        </div>


                        {{form.constent}}
                        <p class="text-2xl mt-4">Current Location</p>
                        <b class="text-2xl ">
                            <p id="location" class="mt-4 cursor-pointer">Give Location Permissions</p>
                        </b>

                    </div>

                    <button type="submit"
                        class="shadow-lg rounded-3xl border border-black p-4 mt-8  text-2xl bg-orange-100"
                        style="width: 100%;">
                        Share
                    </button>
                </form>
            </div>
        </div>
        <div class="md:col-span-5 col-span-12 mt-24">
            <div class="ml-36 mr-36 shadow-lg rounded-3xl">
                <div class=" grid grid-cols-6 bg-orange-500 h-48 rounded-t-3xl text-white px-8 pt-20">
                    <div class="text-5xl mb-4 col-span-4 flex items-center cursor-pointer"
                        onclick="window.location.href=`{% url 'editprofile' %}`">My Profile
                    </div>
                    <div class="col-span-2 flex justify-end items-center">
                        <img src="{%static 'connect\images\exit.png' %}" class="h-20 cursor-pointer" alt=""
                            onclick="window.location.href=`{% url 'logout' %}`">
                    </div>

                </div>
                <div class="px-12 pt-12 " style="height: 28rem;">
                    <div id="name" class="mb-8">
                        <div class="grid grid-cols-6">
                            <div class="col-span-1 flex items-center">
                                <img src="{{ user.profile.image.url }}" alt="logo" srcset=""
                                    class="h-12 w-12 rounded-full">
                            </div>
                            <div class=" col-span-5 pl-4 ">
                                <div class=" ">username</div>
                                <div><b>{{ user.username }}</b></div>
                            </div>
                        </div>
                    </div>
                    <div id="desc" class="text-xl mt-12">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. A nemo facilis numquam minus
                        exercitationem aliquam repellendus ducimus corrupti?
                    </div>
                    <div onclick="location.href=`{% url 'connect-posts' %}`;"
                        class="grid grid-cols-6 mt-12 cursor-pointer">
                        <div class="col-span-1">
                            <img src="{%static 'connect\images\images.jpg' %}" alt="" srcset="" class="h-12">
                        </div>
                        <div class="col-span-5 text-2xl">My Posts</div>

                    </div>
                    <div onclick="location.href=`{% url 'connect-saved' %}`;"
                        class="grid grid-cols-6 my-4 cursor-pointer">
                        <div class="col-span-1">
                            <img src="{%static 'connect\images\save.png' %}" alt="" srcset="" class="h-12">
                        </div>
                        <div class="col-span-5 text-2xl">Saved Posts</div>

                    </div>
                </div>

            </div>
            <div class="ml-36 mr-36 shadow-lg rounded-3xl px-12 pt-8 pb-4 mt-4 cursor-pointer" id="create">
                <div onclick="location.href=`{% url 'connect-create' %}`;" class="grid grid-cols-6 ">
                    <div class="col-span-1">
                        <img src="{%static 'connect\images\images.jpg' %}" alt="" srcset="" class="h-8">
                    </div>
                    <div class="col-span-5 text-2xl">Create a new Post</div>

                </div>
            </div>

        </div>
    </div>

    <script src="{% static 'connect/scripts/create.js' %}"></script>
</body>

</html>